<div [formGroup]="form" class="form-generator-container">
  <ng-container *ngFor="let control of formControls | keyvalue">
    <ng-container [ngSwitch]="control.value.type">
      <div *ngSwitchCase="'boolean'" class="input-container slide-toggle">
        <span>{{ control.value.label }}</span>
        <mat-slide-toggle [formControlName]="control.key">
        </mat-slide-toggle> 
      </div>     
      <div *ngSwitchCase="'number'" class="input-container">
        <app-number-input
          [label]="control.value.label"
          [initialValue]="control.value.initialValue"
          [formControlName]="control.key">
        </app-number-input>
      </div>
    </ng-container>
  </ng-container>
</div>