@import "../../../variables.scss";

.status-container {
  display: flex;
  flex-direction: column;
  background-color: $white;  
  padding: 15px;

  .state {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  span {
    margin: 5px;
  }
}