<div class="status-container">
  <span>Status: </span>
  <div *ngFor="let status of (status$ | async)" class="state">
    <span>{{ status.name }}</span>
    <span>
      @if (status.state === states.Pending) {
        <mat-icon class="pending">more_horiz</mat-icon>
      }
      @else if (status.state === states.Success) {
        <mat-icon class="check">check</mat-icon>
      }
      @else if (status.state === states.Failed) {
        <mat-icon class="error">error</mat-icon>
      }
    </span>
  </div>
</div>