<div class="device-info-container" *ngIf="(device$ | async) as device; else noDevice">
  <div class="device-info">
    <p>{{ device.name }}</p>    
    <button mat-mini-fab (click)="onHomeClick()">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <mat-tab-group>
    <mat-tab label="{{'device-info.controls.label' | translate}}"> 
      <app-form-generator #formGenerator *ngIf="controls.length"
        [config]="controls"
        (onChanges)="onFormChanges($event)">
      </app-form-generator>
    </mat-tab>
    <mat-tab label="{{'device-info.charts.label' | translate}}">
      <app-charts [device]="device">
      </app-charts>
    </mat-tab>
  </mat-tab-group>  
</div>
<ng-template #noDevice>
  <div class="no-device">
    <p class="no-device-selected">
      {{ 'device-info.device-not-found' | translate }}
    </p>
    <button mat-mini-fab (click)="onHomeClick()">
      <mat-icon>home</mat-icon>
    </button>
  </div>
</ng-template>
