@import '../../../variables.scss';

.device-info-container {
  width: 35vw;
  margin-top: 10vh;

  .device-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  mat-tab-group {
    background-color: $off-white;
    border-radius: 5px;
  }

  p {
    color: $black;
  }
}
  
.no-device {
  margin-top: 10vh;
  width: 30vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}