/* You can add global styles to this file, and also import other style files */
$base-green: #084228;
$highlight-green: #0dcc76;
$yellow: #e6e928;
$red: #eb2821;
$orange: #e68435;


html, body {
	min-height: 100%;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	background: $base-green;
}