@import '../../../variables.scss';

.device-list-container {
  margin-top: 10vh;

  .greeting {
    font-size: 2em;
    font-weight: 800;
  }

  .description {
    font-size: 1em;
    margin-bottom: 1em;
    color: $light-black;
  }

  .device-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $off-white;
    border-radius: 5px;
    .device {
      height: 3em;
      display: flex;
      align-items: center;
      cursor: pointer;

      .device-info {
        display: flex;
        width: 100%;

        .device-name {
          font-size: 1.5em;
        }
      }
    }

    .device:hover {
      border-left: 2px solid $blue;
    }
  }
}